<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
</style>

<div class="container banner-container">
  <div class="card center">
      <div class="row">
          <div class="row">
              <img src="/assets/images/logo.PNG" class="center">
          </div>
      </div>
  </div>
</div>

<!-- <div class="content" role="main">
  <div class="container">    
        <ul class="nav navtabs justify-content-center">
          <li role="presentation" class="active"><a href="/cot-report">COT Report</a></li>
          <li role="presentation"><a href="#">Servers</a></li>
          <li role="presentation"><a href="#">Users</a></li>
        </ul>    
  </div>
</div> -->

<!-- <router-outlet></router-outlet> -->
<app-cot-report></app-cot-report>
