@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.card {
    padding: 2em;
    width: 65%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 95px; 
    padding: 1em; 
    border: 0;
}

.my-radio-group {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    margin-bottom: .2em;
    border: 0; 
    padding-bottom: 2em;
}

.mat-radio-button  {
    margin-right: .5em;
    
} 

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;    
}

table {    
    width: 100%;  
    margin: 1em;
}

img {
    margin: 5px;
}

.filter-menu {
    padding-top: .5em;
}

.custom-btn {
    background-color: #002b5c;
    color: white;
}

mat-table {
    border-radius: 16px;  
}