.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.center-element {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    margin-bottom: .2em;
    border: 0;     
}

.mat-radio-button  {
    margin-right: .5em;    
} 

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;    
}

table {    
    width: 70%;  
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

img {
    margin: 5px;
}

.filter-menu {
    padding-top: .5em;
}

.custom-btn {
    background-color: #002b5c;
    color: white;
}

.mat-row.hovered {
    background: #eee;
}
  
.mat-row.highlighted {
    background: #999;
}  
  

