<!--Nav-->
<nav class="relative top-0 z-20 w-full mt-0 bg-white border-b-2 border-gray-200 shadow-sm md:mt-0">
    <div class="flex flex-wrap items-center">
        <button (click)="clickMenu()" class="p-5 m-1 ml-5 rounded-md bg-white-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        <div class="flex-1">
            <img src="assets/images/logo.PNG" class="w-64 mx-auto">
        </div>
    </div>
</nav>

