<div class="flex justify-around mt-4">
    <div class="hidden md:block"></div>
    <div class="flex w-full text-center md:w-7/12 ">
        <div class="flex overflow-hidden align-middle shadow sm:rounded-lg">
            <table class="w-full font-medium table-fixed font-qs">
                <thead class="table-header-group">
                    <tr class="w-full">
                        <th
                            class="text-xs leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 md:p-4 md:m-4 bg-gray-50 dark:bg-stone-900 dark:text-white dark:border-stone-800">
                            Date</th>
                        
                            <th
                                class="hidden m-3 text-xs leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 md:table-cell bg-gray-50 dark:bg-stone-900 dark:text-white dark:border-stone-800">
                                Longs</th>

                            <th
                                class="hidden m-3 text-xs leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 md:table-cell bg-gray-50 dark:bg-stone-900 dark:text-white dark:border-stone-800">
                                Shorts</th>
                        
                        <th
                            class="m-3 text-xs leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-900 dark:text-white dark:border-stone-900">
                            Long</th>
                        <th
                            class="m-3 text-xs leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-900 dark:text-white dark:border-stone-900">
                            Short</th>
                        <th
                            class="m-3 text-xs leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-900 dark:text-white dark:border-stone-900">
                            Net</th>
                        <th
                            class="m-3 text-xs leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-900 dark:text-white dark:border-stone-900">
                            Chg</th>  
                        </tr>
                </thead>

                <tbody class="text-center bg-white dark:bg-stone-800 dark:text-white">
                    <tr *ngFor="let report of data" class="table-row border-b border-gray-200 dark:border-stone-700">
                        <td class="">
                            <div class="text-xs text-gray-500 whitespace-nowrap dark:text-white">
                                {{ report.reportDate }}
                            </div>
                        </td>

                        <td class="hidden px-6 py-4 whitespace-no-wrap md:table-cell">
                            <div class="text-xs text-gray-500 dark:text-white">
                                {{ report.longPositions }}
                            </div>
                        </td>
                        <td class="hidden px-6 py-4 whitespace-no-wrap md:table-cell">
                            <div class="text-xs leading-3 text-gray-500 dark:text-white">
                                {{ report.shortPositions }} 
                            </div>
                        </td>

                        <td class="whitespace-no-wrap">
                            <div class="text-xs leading-3 text-center text-gray-500 dark:text-white">
                                {{ report.percentageLong }}<span>%</span> 
                            </div>
                        </td>
                        <td class="whitespace-no-wrap ">
                            <div class="text-xs leading-3 text-gray-500 dark:text-white">
                                {{ report.percentageShort }}<span>%</span> 
                            </div>
                        </td>
                        <td class="py-4 whitespace-no-wrap ">
                            <div class="text-xs leading-3 text-gray-500 dark:text-white">
                                {{ report.netPositions }}
                            </div>
                        </td>
                        <td class="whitespace-no-wrap ">
                            <div class="pr-1 text-xs leading-3 text-center text-gray-500 dark:texto-white"
                                [ngClass]="report.netPositionsChange > 0 ? 'text-green-700 dark:text-green-300 text-center' : 'text-red-700 dark:text-red-300'">
                                {{ report.netPositionsChange }} 
                            </div>
                            <span *ngIf="report.netPositionsChange < 0"><span class='arrow-down'></span></span>
                            <span *ngIf="report.netPositionsChange > 0"><span class='arrow-up'></span></span>
                            <span *ngIf="report.netPositionsChange == 0"><span class='arrow-up'></span></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="hidden md:block"></div>
</div>
