<div class="flex w-full bg-gray-50 my-body dark:bg-stone-900">
    <div class="flex-col flex-1 hidden w-40 m-2 bg-white border-2 border-b-2 border-gray-200 rounded shadow-lg dark:bg-stone-800 md:block dark:font-white dark:border-black">  
        <app-main-side-menu></app-main-side-menu>
    </div>    
    <div class="flex-col w-full p-2 mt-2 mb-2 mr-2 bg-white border-2 border-b-2 border-gray-200 rounded shadow-lg dark:bg-stone-800 dark:border-black">
        <app-cot-report></app-cot-report>
    </div>
</div>