<div class="flex items-center justify-center">
  <div class="grid grid-cols-3 md:gap-2 md:grid-cols-3 place-items-center sm:grid-cols-3 md:w-7/12">
    <div class="rounded-lg dark:bg-stone-800 dark:text-white">
      <div class="w-full font-qs">
        <div class="self-center flex-none w-full p-2 mx-auto shadow-xl md:flex-none justify-evenly card">
          <div class="p-2 ml-2 mr-2 align-middle">
            <canvas #chart class="pieChartCanvas"></canvas>
          </div>
          <div class="flex-col flex-1">
            <div class="row">
              <div class="text-center row">
                <span class="text-lg">Total: </span>
                <span class="text-xl font-semibold" [countUp]="data[0].shortPositions + data[0].longPositions"
                  [options]="myCountUpOpts"></span>
              </div>
            </div>
            <div class="flex justify-center text-center">
              <div class="grid grid-cols-2">
                <div class="relative content-center p-1 pr-2 border-l-8 border-red-600 row">
                  <span [countUp]="data[0].shortPositions" [options]="myCountUpOpts"></span>
                  <p class="font-semibold text-md">shorts</p>
                  <span [countUp]="data[0].percentageShort" [options]="myCountUpOpts"></span>
                  <span class="ml-0">%</span>
                </div>
                <div class="p-1 mr-2 border-l-8 border-green-600">
                  <span [countUp]="data[0].longPositions" [options]="myCountUpOpts"></span>
                  <p class="font-semibold text-md">longs</p>
                  <span [countUp]="data[0].percentageLong" [options]="myCountUpOpts"></span>
                  <span class="ml-0">%</span>
                </div>
              </div>
            </div>
            <div class="flex justify-around text-center">
              <div class="p-1 mt-1 text-center">
                <div class="flex text-center row">
                  <span class="text-sm font-semibold text-center">net positions:
                  </span>
                  <span class="ml-1 text-sm font-semibold text-center" [countUp]="data[0].netPositions"
                    [options]="myCountUpOpts"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div flex style="height: 100%; width: 100%" class="col-span-2">
      <div id="graph">
        <canvas #chartLine class="p-2 rounded-lg lineChartCanvas bg-stone-800"></canvas>
      </div>
    </div>
  </div>
</div>
