// .lineChartCanvas {
//     width:95% !important;
//     height:90% !important;

// }

.pieChartCanvas{
  height:90px !important;
  width: 100% !important;
}

.currency-flag {
  display: inline-block;
  width: 24px;
  height: 16px;
  background-size: cover;
  background-image:url('https://wise.com/public-resources/assets/flags/rectangle_fallback.png');
}

#graph{
  position: relative;
  height: 100%;
  width: 100% !important;
}

