<div class="grid justify-around w-full grid-cols-6 gap-8 p-8 font-sans bg-blue">
  <div *ngFor="let tweet of tweets">
    <div ng-if=tweet.text class="w-64 p-2 rounded bg-grey-light">
      <div class="p-2 mt-1 bg-white border-b rounded cursor-pointer dark:bg-stone-800 dark:border-black border-grey hover:bg-grey-lighter">
        {{ tweet.text }}
          <div class="flex items-start justify-between mt-2 ml-2 text-grey-darker">
              <span class="flex items-center text-xs">
              <svg class="h-4 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M11 4c-3.855 0-7 3.145-7 7v28c0 3.855 3.145 7 7 7h28c3.855 0 7-3.145 7-7V11c0-3.855-3.145-7-7-7zm0 2h28c2.773 0 5 2.227 5 5v28c0 2.773-2.227 5-5 5H11c-2.773 0-5-2.227-5-5V11c0-2.773 2.227-5 5-5zm25.234 9.832l-13.32 15.723-8.133-7.586-1.363 1.465 9.664 9.015 14.684-17.324z"/></svg>
                  3/5
              </span>
              <img src="https://i.imgur.com/OZaT7jl.png" class="rounded-full" />
          </div>
      </div>
    </div>
</div>



