<nav class="w-screen flex justify-between items-center border-b-2 border-gray-200  shadow-sm ">
    <div class="ml-5 p-5 m-1 rounded-md bg-white-100">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </div>
    <div class="flex-1">
        <img src="assets/images/logo.PNG" class="w-72  mx-auto">
    </div>
</nav>