.center {
    display: block;
    margin-left: 20%;
    margin-right: 20%;    
    width: 55%;    
    border: 0;
}

.my-logo {
    width: 63%;
    height: 63%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;  
    margin-bottom: 2em;
}  

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 95px; 
    padding: 1em; 
    border: 0;

}