.grid-container {
  margin-left: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}


.mat-radio-button  {
  margin-right: .5em;    
} 

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;    
}

