.grid-container {
  margin-left: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

::ng-deep .ngx-charts {
  stroke:black;
  border: 1;
  float: right;
}

.dashboard-card-content {
  text-align: center;
}


.mat-radio-button  {
  margin-right: .5em;    
} 

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;    
}

ngx-charts-legend {
  display: block !important;
}


.center-chart {
  display: flex;
  height: 100%;    
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.center-element {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  margin-bottom: .2em;
  border: 0;     
}

.mat-table {
  width: 98%;
}

.mat-radio-button  {
  margin-right: .5em;    
} 

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;    
}

table {    
  width: 70%;  
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

img {
  margin: 5px;
}

.filter-menu {
  padding-top: .5em;
}

.custom-btn {
  background-color: #002b5c;
  color: white;
}

.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: #999;
}  

.row {
  border: 1 black solid;
  color: black;
}

.shorts-border {
  border-left: .4em #949FB1 solid; 
  padding: 1px; 
}

.longs-border {
  border-left: .4em green solid;    
  padding: 1px; 
}

