<div class="relative justify-center w-full mx-auto">
    <div class="flex flex-col justify-center mx-auto">
        <div class="flex flex-row justify-center mx-auto">
            <div class="border-b border-gray-200 shadow">
                <table class="divide-y divide-gray-300 ">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-6 py-2 text-xs text-gray-500">
                                Report Date
                            </th>
                            <div class="hidden md:block" id="col3">
                                <div class="flex justify-around">
                                    <th class="text-xs text-gray-500"> Longs </th>
                                    <th class="text-xs text-gray-500"> Shorts </th>
                                </div>
                            </div>
                            <th class="px-6 py-2 text-xs text-gray-500">
                                % Long
                            </th>
                            <th class="px-6 py-2 text-xs text-gray-500">
                                % Short
                            </th>
                            <th class="px-6 py-2 text-xs text-gray-500">
                                Net Positions
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-300 dark:bg-stone-900 dark:text-slate-100">
                        <tr *ngFor="let report of data" class="whitespace-nowrap">
                            <td class="px-6 py-4 text-sm text-gray-500 dark:text-white">
                                {{ report.reportDate }}
                            </td>
                            <div class="hidden md:block">
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500 dark:text-slate-100">
                                        {{ report.longPositions }} ( <i
                                            [ngStyle]="{'color': report.changeLong < 0 ? 'red' : 'green' }">{{
                                            report.changeLong }}</i> )
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500 dark:text-slate-100">
                                        {{ report.shortPositions }} ( <i
                                            [ngStyle]="{'color':report.changeShort < 0 ? 'red' : 'green' }">{{report.changeShort}}</i>
                                        )
                                    </div>
                                </td>
                            </div>
                            <td class="px-6 py-4 ">
                                <div class="text-sm text-gray-500 dark:text-slate-100">
                                    {{ report.percentageLong }} ( <i
                                        [ngStyle]="{'color':report.percentageLongChange < 0 ? 'red' : 'green' }">{{report.percentageLongChange}}</i>
                                    )
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="text-sm text-gray-500 dark:text-slate-100">
                                    {{ report.percentageShort }} ( <i
                                        [ngStyle]="{'color':report.percentageShort < 0 ? 'red' : 'green' }">{{report.percentageShortChange}}</i>
                                    )
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="text-sm text-gray-500 dark:text-slate-100">
                                    {{ report.netPositions }} ( <i
                                        [ngStyle]="{'color':report.netPositionsChange < 0 ? 'red' : 'green' }">{{report.netPositionsChange}}</i>
                                    )
                                </div>
                            </td>
                            <td *ngIf="report.netPositionsChange < 0"><span class='m-2 arrow-down'></span></td>
                            <td *ngIf="report.netPositionsChange > 0"><span class='m-2 arrow-up'></span></td>
                            <td *ngIf="report.netPositionsChange == 0"><span class='m-2 arrow-up'></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>