<div class="flex justify-around">
    <div class="hidden md:block"></div>
    <div class="flex w-full text-center md:w-1/2 ">        
            <div class="flex overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
                <table class="w-full table-fixed">
                    <thead>
                        <tr class="w-full">
                            <th
                                class="p-3 m-3 text-xs font-medium leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-300">
                                Date</th>
                            <th
                                class="m-3 text-xs font-medium leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-300">
                                Longs</th> 
                            <th
                                class="m-3 text-xs font-medium leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-300">
                                Shorts</th>
                            <th
                                class="m-3 text-xs font-medium leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-300">
                                Long(%)</th>
                            <th
                                class="m-3 text-xs font-medium leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-300">
                                Short(%)</th>
                            <th
                                class="m-3 text-xs font-medium leading-4 tracking-wider text-center text-gray-800 uppercase border-b border-gray-200 bg-gray-50 dark:bg-stone-300">
                                Net</th>
                        </tr>
                    </thead>

                    <tbody class="bg-white dark:bg-stone-100">
                        <tr *ngFor="let report of data">
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-500">
                                    {{ report.reportDate }}
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-500">
                                    {{ report.longPositions }}
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-500">
                                    {{ report.shortPositions }}
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-500">
                                    {{ report.percentageLong }}
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-500">
                                    {{ report.percentageShort }}
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-500">
                                    {{ report.netPositions }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hidden md:block"></div>
    </div>