/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

.example-spacer {
    flex: 1 1 auto;
}

.my-logo {
    width: 18%;
    height: 60px;
    margin-bottom: 1em;
    position: absolute;
    left: 50%;
    top: 0%;
    bottom: 0%;
    transform: translateX(-50%);
}  

.title-center {
    flex: 1 1 auto;
    text-align: center;
}

mat-toolbar {
    background: white;
    color: black;

}
.mat-toolbar {
    position: relative;
    z-index: 2;
}

