<mat-toolbar class="mat-elevation-z8 app-toolbar">
    <mat-toolbar-row>
    <span class="title-center"><img src="assets/images/logo.PNG" class="my-logo"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar-row>
</mat-toolbar>